/*nav bar personalizada para doaçoes e feiras sustentaveis*/
.divnavbarDoacoesFeiras{
    background-color: #718355;
    border-radius: 15px;
    margin: 26px 18px 0px 18px ;
    padding: 30px;
    height: auto;
}
.divMenuDoacoesFeiras{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tituloDaPagina{
    background-color: #cfe1b9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 5px 30px;
}
.tituloDaPagina > h1{
    font-size: medium;
    text-align: center;
    margin: 0px;
}

/*iconVoltar*/
.iconVoltar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 50px 0px 0px 5px;
}
.ajusteIconvoltar{
    background: #97a97c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    width: 90px;
    height: 90px;
}


/*conteudo principal*/
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.titulo{
    background-color: #cfe1b9;
    width: auto;
    height: auto;
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.ajusteMapa{
    width: 400px;
    height: 400px;
    border-radius: 30px;
}
.intro{
    background-color: #b5c99a;
    border-radius: 30px;
    width: 50%;
    height: auto;
    padding: 50px;
    margin-top: 30px;
}
/*feiras sustentaveis*/
.iconTelefone{
    width: 100px;
    height: 85px;
}
hr {
    border: 0;
    height: 2px;
    background-color: #000000; 
    width: 100%;
    margin: 150px 0px 0px 0px;
}


/*media query*/
@media (min-width: 200px) and (max-width: 455px){
    .titulo{
        width: 200px;
        text-align: center;
    }
    .ajusteMapa{
        width: 260px;
        height: 260px;
    }
    .intro{
        width: 300px;
    }
}