.alinhamento{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ajuste > h1{
    text-align: center;
    margin-bottom: 32px;
    padding: 30px;
}
.ajuste > p{
    text-align: center;
    padding: 15px;
}
.imgPrincipal{
    width: 400px;
    height: 300px;
}


/*media query*/

@media (min-width: 200px) and (max-width: 496px){
    .imgPrincipal{
        width: 200px;
        height: 150px;
    }
}