.alinhamentoInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*div Titulo*/
.rowTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0px 150px 0px;
}
.colTitulo{
    background-color: #cfe1b9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    padding: 30px 40px 30px 40px;
}



/*layout das questoes*/
.ajustForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questao{
    width: 100%;
}

.conteudoQuestao{
    background-color: #87986a;
    border-radius: 50px;
    width: auto;
    height: auto;
    padding: 70px 30px;
    margin-bottom: 50px;
}
#progresso{
    display: flex;
    flex-direction: row-reverse;
}

#pergunta{
    background-color: #97a97c;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 25px 0px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: larger;

    min-height: 20px;
}
#pergunta:empty {
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
}

#opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#opcoes > button  {
    background-color: #b5c99a; 
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}

#resultado {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    min-height: 20px;
    background-color: transparent; 
    display: none; 
}

#resultado.show {
    display: block;
    background-color: #CFE1B9; 
}


/**/
.botaodeVerificacao{
    background-color: #B5C99A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 300px;
    padding: 10px;
}



/*divFinal*/
#divMensagemConclusao {
    display: none;
}
.rowConteudoFinal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
}
.colConteudoFinal{
    background-color: #CFE1B9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
.conteudoFinal{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0px;
    margin: 5px 5px 5px 60px;
}
.conteudoFinal > h1, p{
    text-align: start;
    padding: 20px;
}
.imgFinal{
    width: 340px;
    height: 449px;
    object-fit: cover;
}


/*media query*/
@media (min-width: 449px) and (max-width: 665px){
    .colConteudoFinal{
        height: auto;
    }
    .imgFinal{
        width: 140px;
        height: 449px;
    }
}
@media (min-width: 200px) and (max-width: 448px){
    .colConteudoFinal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .conteudoFinal{
        margin: 0px;
    }
    .conteudoFinal > h1, p{
        text-align: center;
    }
    .imgFinal{
        width: 240px;
        height: 349px;
    }
}